@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    </br>
    </br>
<html> 
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>

    

<div class="row">
            <div class="col-md-3">
                <p>Input 1</p>
            </div>
            <div class="col-md-4">
                <input placeholder="" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Input 2</p>
            </div>
            <div class="col-md-4">
                <input placeholder="" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <p>Result</p>
            </div>
            <div class="col-md-4">
                <input readonly />
            </div>
        </div>

        <br />


        <div class="row">
            <div class="col-xs-1">

                <button class="btn btn-success"> + </button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary"> - </button>
            </div>
            <div class="col-xs-1">
                <button class="btn btn-success "> * </button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary"> / </button>
            </div>
            <div class="col-xs-1">
                <button class="btn btn-success"> % </button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-success"> Clear </button>
            </div>
        </div>
 </body>
</html>